@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,600;1,700;1,800;1,900&display=swap");




body {
  color: #4f4f4f;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

h1{
  font-weight: 800;
}

h2{

  font-weight: 600;
}
h5{
  font-weight: 600;
}

.header {
  background-image: url(/img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}

.menu-superior {
  text-align: end;
  font-size: 14px;
  padding: .5rem 1rem;
}

.menu-superior .list-inline-item a {
  color: #ffffff;
  text-decoration: none;
  padding: .5rem 0;
}
.menu-superior .list-inline-item a:hover {
  border-bottom: 2px solid #faff00;
  width: 90%;
}
a{
  color: #f4f4f4;
}
.menu-superior .far, .menu-superior .fab{
  font-size: 18px;
  opacity: 0.7;
  margin: 0 8px;
}

.navbar {
  padding: 0px !important;
}

.navbar-nav .nav-item a {
  color: #ffffff;
  font-weight: 600;
}

.navbar-toggler .fa-bars{
  color: #ffffff;
}

.nombre-escuela {
  color: #ffffff;
  padding: 60px 30px;
}
.nombre-escuela h2{
  margin-bottom: 0;
  line-height: 15px;
}
.nombre-escuela h1{
  margin-bottom: 20px;
  line-height: 80px;
  letter-spacing: 3px;
}

.nav-link:hover {
  border-bottom: 2px solid #faff00;
  width: 90%;
}

.pcajas{
  padding-top: 80px;
  padding-bottom: 80px;
}

.back-bienvenido, .back-mov {
  justify-content: end;
  display: grid;
  padding-right: 45px;
}
.back-bienvenido::before {
  content: url(/img/Vector9.svg);
  position: absolute;
  z-index: -1;
  top: 40px;
  right: 170px;
  width: 509px;
}

.text-bienvenido h2{
  font-size: 55px;
}

.bg-gris{
  background: #e9ecef;
}

.bg-gris .pcajas h5{
  text-transform: uppercase;
  text-align: center;
}
.bg-gris .pcajas h2{
  text-align: center;
  padding-bottom: 1.5rem;
}

.bgcarrera {
  background-color: #faff00;
}

.bgcarrera .carrera-detail{
  bottom: 20px;
  padding: 10px 30px;
}

.pcajas .img-carrera{
  padding-left: 0;
}

.body-carousel{
  margin-top: auto;
  margin-bottom: auto;
}
.carousel-control-prev, .carousel-control-next{
  width: 100px;
  color: #000000;
  font-size: 30px;
}
.carousel-control-prev:hover,.carousel-control-next:hover{
  color: #000000;
}

.footer-wrapper {
  background-color: #e9ecef;
}
.title-footer {
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer-detail {
  font-size: 14px;
  line-height: 28px;
}
.footer-detail a.icon-fa {
  margin-right: 15px;
}
.icon-fa, .link-pucmm {
  color: #001970;
}

@media (max-width: 576px){
.logo-brand {
    width: 200px;
}
.pcajas{
  padding-top: 35px;
  padding-bottom: 35px;
}
.carousel-item img, .img-bienvenido {
  display: none !important;
}
.bgcarrera{
  margin-bottom: 20px;
}
.pcajas .img-carrera{
  margin-bottom: 20px;
}
.carousel-control-prev, .carousel-control-next{
  width: 0px;

}
}